
<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Watching your products process</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>This is a form help you track where are your products. To help you know your products come to customers or not.</p>
          <p>Order Items have 3 status: Preparing -> Transporting -> Transported. You have to bring your products to our company. If your products came to us, it will be "Transported"</p>
          <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps">
              <li>
                <a href="#step-1">
                  <span class="step_no">1</span>
                  <span class="step_descr">
                      Pending<br />
                  </span>
                </a>
              </li>
              <li>
                <a href="#step-2">
                  <span class="step_no">2</span>
                  <span class="step_descr">
                      Delivering<br />
                  </span>
                </a>
              </li>
              <li>
                <a href="#step-3">
                  <span class="step_no">3</span>
                  <span class="step_descr">
                      Delivered<br />
                  </span>
                </a>
              </li>
            </ul>
            <div id="step-1">
              <div class="x_content">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name of product</th>
                      <th>Total</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Info user</th>
                      <th>Info receiver</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @pending_orders.each do |item| %>
                      <tr>
                        <td scope="row"><%=item.id%></td>
                        <td><%=item.property.product.name%></td>
                        
                        <td><%=item.total%></td>
                        <td><%=item.quantity%></td>
                        <td><%=item.property.price%></td>
                        <td>
                          <%=item.order.user.name%> <br>
                          <%=item.order.user.address%><br>
                          <%=item.order.user.phone%><br>
                        </td>
                        <td>
                          <%=item.order.receiver%> <br>
                          <%=item.order.address%><br>
                          <%=item.order.phone%><br>
                        </td>
                        <td><%=item.order.status %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="step-2">
              <div class="x_content">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name of product</th>
                      <th>Total</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Info user</th>
                      <th>Info receiver</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @delivering_orders.each do |item| %>
                      <tr>
                        <td scope="row"><%=item.id%></td>
                        <td><%=item.property.product.name%></td>
                        
                        <td><%=item.total%></td>
                        <td><%=item.quantity%></td>
                        <td><%=item.property.price%></td>
                        <td>
                          <%=item.order.user.name%> <br>
                          <%=item.order.user.address%><br>
                          <%=item.order.user.phone%><br>
                        </td>
                        <td>
                          <%=item.order.receiver%> <br>
                          <%=item.order.address%><br>
                          <%=item.order.phone%><br>
                        </td>
                        <td><%=item.order.status %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="step-3">
              <div class="x_content">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name of product</th>
                      <th>Total</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Info user</th>
                      <th>Info receiver</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @delivered_orders.each do |item| %>
                      <tr>
                        <td scope="row"><%=item.id%></td>
                        <td><%=item.property.product.name%></td>
                        
                        <td><%=item.total%></td>
                        <td><%=item.quantity%></td>
                        <td><%=item.property.price%></td>
                        <td>
                          <%=item.order.user.name%> <br>
                          <%=item.order.user.address%><br>
                          <%=item.order.user.phone%><br>
                        </td>
                        <td>
                          <%=item.order.receiver%> <br>
                          <%=item.order.address%><br>
                          <%=item.order.phone%><br>
                        </td>
                        <td><%=item.order.status %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <h2>Set your status of products </h2>
          <p>You have to pick your products to our office in order to pack and deliver. You have 3 process: Preparing, Transporting, Transported</p>
          <!-- Tabs -->
            <div class="col-md-2 col-sm-12 col-xs-12">
              <div id="replacepart">
                <%= render 'process_orders/process' %>
            </div>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12" name="table-process">
            <div class="x_content">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name of product</th>
                    <th>Total</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Info user</th>
                    <th>Info receiver</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @order_items.each do |item| %>
                    <tr class="select-row">
                        <td scope="row"><%=item.id%></td>
                        <td><%=item.property.product.name%></td>
                        
                        <td><%=item.total%></td>
                        <td><%=item.quantity%></td>
                        <td><%=item.property.price%></td>
                        <td>
                          <%=item.order.user.name%> <br>
                          <%=item.order.user.address%><br>
                          <%=item.order.user.phone%><br>
                        </td>
                        <td>
                          <%=item.order.receiver%> <br>
                          <%=item.order.address%><br>
                          <%=item.order.phone%><br>
                        </td>
                        <td><%=item.status %></td>
                        <td class="edit-event"><%= link_to "Edit", "#table-process", id: "edit_link#{item.id}", value: item.id  %></td> 
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.activated {
  background-color: LightBlue !important;
  color: white;
}
</style>
<script type="text/javascript">
  $('.select-row').click(function() {
    $('.activated').removeClass("activated");
    $(this).addClass("activated");
  })

  $('.edit-event').click(function() {
      var value = event.target.getAttribute("value");
       $.ajax({
          url:'../../load_process',
          type:'POST',
          dataType:'json',
          data:{
              value: value,
          },
          dataType: 'script',
          success:function(data){
          },
          error:function(data){
          }
      });
    });
</script>

