<%= cloudinary_js_config %> 
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Edit Information</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Form validation <small>sub title</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <%= form_for current_user do |f| %>
          	<div class="form-horizontal form-label-left">
            <p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
            </p>
            <span class="section">Personal Info</span>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              	<%= f.text_field :name, class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Phone <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.text_field :phone, class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Change Password <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :password, class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>
           	<div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Image <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
               <%= f.file_field :avatar  %>
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Cancel</button>
                <%= f.submit 'Submit', class: 'btn btn-success'%>
              </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
 $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
  $('.property_image').val(data.result.public_id);    
  return true;
});
</script>
   
	
  